# Lecture 4 - Python Essentials



## Data types

### Valores Booleanos
São um tipo de data que podem ser `True` ou `False`.

In [1]:
x= True
x

True

In [2]:
type(x)

bool

Podemos utilizar como um interpretador de dados:

In [3]:
y = 100<10
y

False

In [4]:
type(y)

bool

Em expressões, podemos utilizar os valores booleanos para fazermos operações:

In [5]:
x+y

1

Nesse caso, `True` vale `1` e `False` 0.

In [6]:
x*y

0

In [7]:
True + True

2

In [8]:
bools =[True,True,False,True] #Criando uma Lista de Valores Booleanos

sum(bools)

3

### Numeric Types

Já vimos nas outras *Lectures* outras formas de classes numéricas: `integer`e `float` (1 e 1.5, por exemplo).

Números complexos são outra forma de classe numérica no Python:

In [10]:
x = complex(1,2)
y= complex(2,1)
print(x*y)

type(x)

5j

complex

Nesse caso, estamos computando a parte real 1 e imaginária 2 no caso do x. Em y, é o contrário. `print(x*y)` estamos utilizando uma multiplicação desses números complexos.

### Containers

Uma outra forma de criar uma lista, porém não sendo possível mudar (*immutable*, uma vez que criado não pode ser alterado), temos os `tuples`:

In [12]:
x =('a','b')
x

('a', 'b')

In [14]:
x='a','b'
x

('a', 'b')

In [15]:
type(x)

tuple

Por sua vez, as listas são mutáveis:

In [16]:
x=[1,3]
x[0]

1

In [17]:
x[0]=1000
x

[1000, 3]

Se tentarmos fazer o mesmo com *tuples*,

In [18]:
x= '1','3'

x[0]=1000
x

TypeError: 'tuple' object does not support item assignment

Podemos despacotar as *tuples* também. Por exemplo:

In [19]:
integers = (10,20,30)
x,y,z = integers
x

10

In [20]:
y

20

In [21]:
z

30

#### Slice Notation
Podemos acessar vários elementos de uma determinada lista, *tuple* ou *string*.

In [22]:
a  =["a","b","c","d","e"]
a[1:]

['b', 'c', 'd', 'e']

In [23]:
a[1:3]

['b', 'c']

Podemos pegar os dois últimos elementos da lista:

In [24]:
a[-2:]

['d', 'e']

Podemos mudar o formato `[start:end:step]`

In [25]:
a[::2]

['a', 'c', 'e']

Podemos fazer a ordem contrária:

In [26]:
a[-2::-1] # anda de costas do segundo último elemento para o primeiro

['d', 'c', 'b', 'a']

O mesmo é válido para *tuples* ou *strings*

In [27]:
s ='foobar'
s[-3:] #selecionar os últimos 3 elementos

'bar'

### Sets e Dicionários

Dicionários são como listas com exceção que os itens são chamados ao invés de numerados:

In [29]:
d = {'name' : 'Frodo', 'age':33}
type(d)

dict

In [30]:
d['age']

33

In [31]:
d['name']

'Frodo'

Os nomes `name` e `age` sã o chamado *keys*, e os objetos `Frodo`e `33`são os `values`. Já os `sets`são coleções sem ordenamento e sem duplicatas e permitem as operações normalmente utilizadas.

In [32]:
s1 = { 'a','b'}

In [33]:
type(s1)

set

In [34]:
s2 ={'b','c'}

s1.issubset(s2)

False

A função `set()` cria conjuntos de sequências:

In [35]:
s3 = set(('foo','bar','foo'))
s3

{'bar', 'foo'}

## Iterando
Uma das maiores forças do Python é a sua forma de iteração via o *loop* `for`. Por exemplo, vamos escrever uma lista de cidades nos EUA e sua população:

###  Looping over Different Objects
Diversos objetos no Python são iteráveis, da medida que eles podem ser loopados. Por exemplo, criando uma txt das cidades:

In [36]:
%%writefile us_cities.txt
new york: 8244910
los angeles: 3819702
chicago: 2707120
houston: 2145146
philadelphia: 1536471
phoenix: 1469471
san antonio: 1359758
san diego: 1326179
dallas: 1223229

Writing us_cities.txt

Nesse caso `%%writefile%%` é uma Ipython cell magic.Uma outra forma é a seguinte, deixando as informações mais legível e adiconando nomes e virgulas para computar os milhares :

In [38]:
data_file = open('us_cities.txt', 'r')
for line in data_file:
    city, population = line.split(':')         # Tuple unpacking
    city = city.title()                        # Capitalize city names
    population = f'{int(population):,}'        # Add commas to numbers
    print(city.ljust(15) + population)
data_file.close()

New York       8,244,910
Los Angeles    3,819,702
Chicago        2,707,120
Houston        2,145,146
Philadelphia   1,536,471
Phoenix        1,469,471
San Antonio    1,359,758
San Diego      1,326,179
Dallas         1,223,229

Aqui, `format()`é um método de string utilizado para inserir variáveis em strings.
A parte interessante deste programa para nós está na linha 2, que mostra que:

1. O objeto de arquivo de dados data_file é iterável, no sentido de que pode ser colocado à direita do `in` dentro de um loop for.

2. A iteração passa por cada linha no arquivo.

Isso leva à sintaxe limpa e conveniente mostrada em nosso programa.

É possível fazer *looping* sem ter que usar índices explícitos. Por exemplo:

In [39]:
x_values = [1,2,3]

for x in x_values:
    print(x*x)

1
4
9

In [40]:
for i in range(len(x_values)):
    print(x_values[i]*x_values[i])

1
4
9

É possível também usar o comando `zip`para não ter que usar explitamente índices para *loopar* :

In [42]:
countries = ('Japan','Korea','China')
cities =('Tokyo','Seoul','Beijing')
for country, city in zip(countries,cities) :
    print(f'The Capital of {country} is {city}')

The Capital of Japan is Tokyo
The Capital of Korea is Seoul
The Capital of China is Beijing

Note que:

O `f` que aparece antes de uma string em Python indica que esta é uma f-string (format string). F-strings são uma forma de criar strings formatadas de maneira mais fácil e legível, especialmente quando você deseja incorporar valores de variáveis ou expressões em uma string. A principal vantagem das f-strings é que você pode inserir valores diretamente na string usando chaves `{}` e as variáveis ou expressões serão substituídas pelo seu valor real quando a string for criada.

No exemplo:

```python
print(f'The capital of {country} is {city}')
```

O `f` na frente da string permite que você insira as variáveis `country` e `city` dentro da string, dentro das chaves `{}`. Quando essa linha é executada, o Python substituirá automaticamente `{country}` pelo valor da variável `country` e `{city}` pelo valor da variável `city`.

Podemos usar o `zip()`para criar dicionários também:

In [43]:
nomes= ['João','Felipe']
notas = ['A','F']
dict(zip(nomes,notas))

{'João': 'A', 'Felipe': 'F'}

### List Comprehensions

Podemos simplificar o código para gerar uma lsita de amostras aleatórias usando *list comprehension*, que são uma forma elegante de criar listas. Por exemplo:

In [44]:
animals = ['cachorro','gato','ave']
plurals = [animal + 's' for animal in animals]
plurals

['cachorros', 'gatos', 'aves']

In [45]:
range(8)

range(0, 8)

In [46]:
doubles = [2*x for x in range(8)]
doubles

[0, 2, 4, 6, 8, 10, 12, 14]

## Comparasions and Logical Operators

Podemos fazer as seguintes comparações:

In [1]:
x,y =1,2
x<y

True

In [2]:
x>y

False

Podemos fazer desigualdades em cadeia:

In [3]:
1<2<3

True

In [4]:
1<=2<=3

True

Como vimos antes, podemos testar desigualdade usamos `==`

In [5]:
x=1 #atribuindo
x==2 #comparação

False

Para diferente $\neq$ , usamos `!=`

In [6]:
1 != 2

True

Podemos testar essas condições para qualquer expressão:

In [7]:
x = 'yes' if 42 else 'no'
x

'yes'

 Neste caso, a expressão dentro do if é 42, que é um valor numérico diferente de zero. De acordo com a regra explicada, qualquer valor que não seja zero, uma sequência vazia ou None é equivalente a True em um contexto booleano. Portanto, como 42 não é zero, a atribuição de x recebe o valor 'yes'.

In [8]:
x = 'yes' if [] else 'no'
x

'no'

Neste caso, a expressão dentro do if é [], que é uma lista vazia. Como mencionado na regra, valores que são sequências vazias (como listas vazias, strings vazias, etc.) são equivalentes a False em um contexto booleano. Portanto, a atribuição de x recebe o valor 'no'.

### Combinando Expressões:
Podemos combinar expressões usando `and`, `or` e `not`
Que são basicamente os conectivos lógicos (conjunction, disjunction e denial): $\wedge$ $\vee$,$\neg$.

In [9]:
1 < 2 and  'f' in 'foo'

True

Isso é verdade visto que estamos colocando a conjunction de duas afirmações verdadeiras: 1 é menor que dois e f está em foo. Logo, ambos são verdade e 1 =1.

In [10]:
1 < 2 and 'g' in 'foo'

False

Mesma coisa, porém não é verdade visto que g não está em `foo`.

In [11]:
1<2 or 'g' in 'foo'

True

Verdade pois 'or' é uma disjunção, ou seja, pelo menos uma delas é verdade. No caso a primeira é.

In [12]:
not True

False

Isso é o equivalente ao $\neg P$. Como P é verdade, a negação é falso.

In [13]:
not not True

True

Sabemos que $\neg \neg P \to P $.

### Docstrings

Python permite adicionar comentários a determinadas funções, módulos e classes. Por exemplo:

In [15]:
def f(x):
    """
    Está função irá levar o argumento ao quadrado
    """
    return x**2

In [17]:
f?

## Exercícios:

Queremos criar um produto vetorial de duas matrizes:

In [19]:
x = [1,2,3]
y=[4,5,6]
combinado = zip(x,y)
produto_interno = sum(x*y for x,y in combinado)
print(produto_interno)

32

`zip(x, y)` combina os valores correspondentes das duas listas x_vals e y_vals em pares de tuplas. Por exemplo, (1, 3), (2, 5) e (3,6 ).

A compreensão de lista (x * y for x, y in combined_values) multiplica os elementos correspondentes das tuplas e cria uma lista de produtos.

sum() é usado para somar todos os produtos, resultando no produto interno das duas listas.

Queremos fazer, em uma linha, um código que irá contar o número de números de 0 até 99.

In [32]:
range(100)

range(0, 100)

In [34]:
print(sum(1 for x in range(100) if x % 2 == 0))

50

Nesse exercício estamos somando 1 cada vez que estiver um número par. Um número par pode ser definido como se a divisão por 2 ser igual a 0. Dessa forma, o operador `%` irá nos dar o resto do quociente. Por sua vez, estamos utilizamos o if que irá nos dar 1 caso o resto do quociente for um por meio de uma função for, que irá delimitar o quanto que iremos somar e o *range*.

###### Exercício 2
Agora queremos criar uma função p tal que:

$$ p(x) = a_0 +a_1x+a_2x^2 + \cdots + a_nx^n = \sum_{i=0}^n a_i x^i$$

Essa função será chamada p, tal que `p(x,coeff)` computa o valor da equação acima.

In [35]:
def p(x,coeff):
    return sum(a*x**i for i, a in enumerate (coeff))

Ou:

In [36]:
def p(x, coeff):
    result = 0
    for i in range(len(coeff)):
        result += coeff[i] * (x ** i)
    return result

# Exemplo de uso:
coefficients = [2, 3, 1]  # Exemplo de coeficientes [a_0, a_1, a_2]
x_value = 4  # Valor de x para o qual queremos calcular a equação
result = p(x_value, coefficients)
print("Resultado:", result)

Resultado: 30

###### Exercício 3
Escrever uma função que transforma todas letras em maiúscula:

In [38]:

'foo'.upper()

'FOO'